.numberoftasks{

    margin-top: 10%;
    margin-bottom: -10px;
    
}

.numberoftext_text{

    text-align: left;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-style: initial;
    margin-left: 11%;
    font-weight: bold;
    margin-top: 5%;
   
}