.numberoftasks{

    margin-top: 10%;
    margin-bottom: 2%;
    
}

.numberoftext_text{

    text-align: left;
    background-color: rgb(180, 180, 180);
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    font-style: initial;
    margin-left: 9%;
    font-weight: bold;
    margin-top: 5%;
   
}