.task-text1{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1%;
    margin-bottom: 1%;
    text-decoration: line-through;
}

.content4{
    border: 1px solid  rgb(41, 41, 41);
    margin-right:6%;
    padding-right: 10px; 
    padding-left:  10px;
    
}

