.task-text1{
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 1%;
    
    margin-bottom: 5%;

}

.content4{
    border: 1px solid  rgb(41, 41, 41);
  
}