.main_div {
  background-color: rgb(180, 180, 180);
  height: 200%;
  background: linear-gradient(-90deg, #dfdede 0%, #7e7e7e 100%);
}


footer{
  margin-top: 30%;
  text-align: center;
}

.headermargin{

  background: linear-gradient(-90deg, #dfdede 0%, #7e7e7e 100%);
  padding-top: 10%;
  background-color: rgb(180, 180, 180);
  font-family: Arial, Helvetica, sans-serif;


}

