.main_div {
  background-color: rgb(180, 180, 180);
  height: 200%;
}


footer{
  margin-top: 30%;
  text-align: center;
}

.headermargin{

  padding-top: 10%;
  background-color: rgb(180, 180, 180);
}